* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  line-height: 30px;
}

/*
font-family: 'Barlow Condensed', sans-serif;
font-family: 'Oxygen', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
*/
body {
  background-color: #0E0E0E;
}

.h2_title {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 600;
  font-size: 44px;
}

.h2_body {
  font-family: 'Oxygen', sans-serif;
  font-weight: 400;
  font-size: 22.5px;
}

.h3_title {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 500;
  font-size: 35px;
}

.h3_body {
  font-family: 'Oxygen', sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.bookBtn {
  background-color: #F8C246;
  border-radius: 10px;
  padding: 12px 16px;
  font-weight: 700;
  border: 1px solid #0E0E0E;
  color: #0E0E0E;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

.bookBtn:hover {
  color: #F8C246;
  background-color: #0E0E0E;
  border: 1px solid #F8C246;
}

.focus_page {
  border-bottom: 1px solid #ffffff;
  padding-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .h2_title {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 600;
    font-size: 24px;
  }
  .h2_body {
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
    font-size: 16px;
  }
  .h3_title {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 700;
    font-size: 20px;
  }
  .h3_body {
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
    font-size: 16px;
  }
}

/*************** Header ******************/
.covid {
  background-color: #EDE9D4;
  text-align: center;
  color: black;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  place-items: center;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  text-decoration: underline;
}

.covid a {
  color: black;
}

@media screen and (max-width: 768px) {
  .covid {
    height: 39px;
  }
}

.main_menu {
  position: relative;
  z-index: 9999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  place-items: center;
  padding: 13px;
  background-color: #0A0A0A;
  border-bottom: 1px solid #131313;
  width: 100%;
  overflow-x: hidden;
}

.main_menu .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main_menu .menus a {
  text-decoration: none;
  color: #ffffff;
  margin-right: 44px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.main_menu .menus a:hover {
  border-bottom: 2px solid white;
  padding-bottom: 10px;
  font-size: 24px;
}

.main_menu .menus a.bookBtn {
  margin: 0;
  color: #0E0E0E;
  font-weight: 700;
}

.main_menu .menus a.bookBtn:hover {
  color: #F8C246;
  border-bottom: 1px solid #F8C246;
  font-size: 22.5px;
}

.main_menu #toggleBtn {
  display: none;
  color: #ffffff;
}

.main_menu #toggleBtn i {
  font-size: 30px;
}

.main_menu #toggleBtn i:hover {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .main_menu {
    padding: 0 17px;
  }
}

.nav-scroll {
  position: fixed;
  -webkit-transform: translateY(-70.5px);
          transform: translateY(-70.5px);
}

@media screen and (max-width: 768px) {
  .nav-scroll {
    position: fixed;
    -webkit-transform: translateY(-39.5px);
            transform: translateY(-39.5px);
  }
}

.nav-sticky {
  position: fixed;
  z-index: 999;
}

.main_header {
  background-image: url(../img/Tattoo-background1.png);
  background-size: 100% 100%;
  padding: 275px 10.5%;
  color: #ffffff;
}

.main_header .header_title {
  margin-bottom: 32px;
  font-size: 80px;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 700;
}

.main_header .header_body {
  margin-bottom: 159px;
  font-family: 'Raleway', sans-serif;
  margin-top: 50px;
}

.main_header a {
  text-decoration: none;
}

@media screen and (max-width: 1300px) {
  .main_menu {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .main_menu .menus a {
    font-size: 18px;
  }
  .main_header {
    padding: 200px 10.5%;
  }
  .main_header .header_title {
    font-size: 60px;
  }
}

@media screen and (max-width: 1030px) {
  .menus {
    display: none;
  }
  .main_menu #toggleBtn {
    display: block;
    color: #F8C246;
  }
}

@media screen and (max-width: 768px) {
  .main_header {
    padding: 125px 10.5%;
  }
  .main_header .header_title {
    font-size: 32px;
    font-weight: 600;
  }
  .main_header .header_body {
    display: none;
  }
  .main_header .bookBtn {
    font-size: 18px;
    font-weight: 700;
  }
}

/********************* Toggle menu ************************/
.overlay {
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  background-color: #0E0E0E;
  overflow-x: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 10%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  place-items: center;
}

.overlay-content .bookBtn {
  font-weight: 700;
  padding: 8px 16px;
  margin-top: 8px;
  color: #0E0E0E;
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 16px;
  text-decoration: none;
  color: #ffffff;
  display: inline;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-family: 'Oxygen', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  color: #F8C246;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  color: #F8C246;
  position: absolute;
  top: 25px;
  right: 25px;
  font-size: 44px;
}

.overlay .closebtn:hover {
  color: #fef3d9;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    color: #F8C246;
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

/*************** Main ******************/
main {
  padding: 96px 10.5%;
  background-color: #0E0E0E;
  color: #ffffff;
}

main .main_title {
  margin-bottom: 32px;
}

main .policies {
  margin-top: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .policies img {
  width: 48%;
}

main .policies .policy_right {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .policies .policy_right .h3_title {
  margin-bottom: 16px;
}

main .policies .policy_right .read_policy {
  padding: 12px 16px;
  border-radius: 10px;
  text-decoration: none;
  color: #0E0E0E;
  background-color: #EDE9D4;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-top: 32px;
  font-weight: 700;
  border: 1px solid #0E0E0E;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

main .policies .policy_right .read_policy:hover {
  color: #EDE9D4;
  background-color: #0E0E0E;
  border: 1px solid #EDE9D4;
}

@media screen and (max-width: 768px) {
  main {
    padding: 56px 6.15%;
  }
  main .main_title {
    margin-bottom: 8px;
  }
  main .policies {
    margin-top: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main .policies img {
    width: 100%;
  }
  main .policies .policy_right {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 3%;
  }
  main .policies .policy_right .h3_title {
    margin: 8px 0;
  }
  main .policies .policy_right .read_policy {
    padding: 8px 16px;
    border: 1px solid black;
    text-decoration: none;
    color: black;
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin-top: 24px;
    margin-bottom: 10px;
  }
}

/*************** Footer ******************/
footer {
  background-color: #0E0E0E;
  color: #ffffff;
  padding: 88px 10.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer_title {
  font-family: 'Oxygen', sans-serif;
  font-weight: 700;
  font-size: 22.5px;
}

footer .line {
  border-bottom: 1px solid #ffffff;
  margin: 8px 0;
}

footer .links {
  width: 30%;
}

footer .links .link_menu {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

footer .links .link_menu a {
  text-decoration: none;
  color: #ffffff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

footer .links .link_menu a:hover {
  color: #F8C246;
  text-decoration: underline;
}

footer .contacts {
  width: 68%;
}

footer .contacts .infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .contacts .infos a {
  text-decoration: none;
  color: #ffffff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

footer .contacts .infos a:hover {
  color: #F8C246;
  text-decoration: underline;
}

footer .contacts .infos .sns {
  margin-top: 18px;
}

footer .contacts .infos .sns i {
  font-size: 24px;
  margin-right: 22px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

footer .contacts .infos .sns i:hover {
  color: #F8C246;
  cursor: pointer;
}

footer .contacts .infos iframe {
  margin: 0 10px;
}

footer .contacts .infos .hours {
  margin-top: 16px;
}

footer .contacts .infos .hours span {
  margin-right: 16px;
}

@media screen and (max-width: 1300px) {
  footer {
    padding: 23px 6.15%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .footer_title {
    font-weight: 700;
    font-size: 18px;
  }
  footer .line {
    margin: 8px 0;
  }
  footer .links {
    width: 100%;
  }
  footer .links .link_menu a {
    margin-bottom: 8px;
  }
  footer .contacts {
    width: 100%;
    margin-top: 24px;
  }
  footer .contacts .infos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .contacts .infos .phone_num {
    margin-bottom: 8px;
  }
  footer .contacts .infos .sns {
    margin: 18px 0 28px 10px;
  }
  footer .contacts .infos .hours {
    margin-top: 8px;
  }
  footer .contacts .infos .hours span {
    margin-right: 26px;
  }
  footer .contacts .infos iframe {
    width: 90%;
    margin: 0px 0px 8px 0px;
  }
}

/************** Pages header *****************/
.page_main_header {
  background-color: white;
  background: -webkit-gradient(linear, left top, left bottom, from(#0e0e0e), color-stop(35%, rgba(199, 199, 199, 0.3)), color-stop(50%, rgba(216, 216, 216, 0.3)), color-stop(65%, rgba(199, 199, 199, 0.3)), to(#0e0e0e));
  background: linear-gradient(180deg, #0e0e0e 0%, rgba(199, 199, 199, 0.3) 35%, rgba(216, 216, 216, 0.3) 50%, rgba(199, 199, 199, 0.3) 65%, #0e0e0e 100%);
  border: 1px solid #000000;
  padding: 105px 10.5%;
}

.page_main_header .page_header_title {
  font-size: 55px;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 700;
  color: #FFFFFF;
}

@media screen and (max-width: 768px) {
  .page_main_header {
    padding: 35px 6.15%;
  }
  .page_main_header .page_header_title {
    font-size: 32px;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 600;
  }
}

/************* covid page ************/
.covid-page .link_span {
  text-decoration: underline;
}

.covid-page .link_span a {
  color: #ffffff;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.covid-page .link_span a:hover {
  color: #F8C246;
}

.covid-page .updated {
  margin-bottom: 96px;
}

.covid-page .updated .date {
  margin-bottom: 8px;
}

.covid-page .covid_policies {
  margin-bottom: 96px;
}

.covid-page .covid_policies .h2_title {
  margin-bottom: 32px;
}

.covid-page .covid_policies .h3_body {
  padding-left: 24px;
}

.covid-page .covid_policies .h3_body li {
  margin-bottom: 8px;
}

@media screen and (max-width: 768px) {
  .covid-page .updated {
    margin-bottom: 56px;
  }
  .covid-page .updated .date {
    margin-bottom: 0;
  }
  .covid-page .covid_policies {
    margin-bottom: 56px;
  }
  .covid-page .covid_policies .h2_title {
    margin-bottom: 8px;
  }
  .covid-page .covid_policies .h3_body li {
    margin-bottom: 0;
  }
}

/************* policy page ************/
.policy-page .tattoo_policy {
  margin-bottom: 96px;
}

.policy-page .tattoo_policy .h2_title {
  margin-bottom: 32px;
}

.policy-page .tattoo_policy .h3_title {
  margin-top: 56px;
}

.policy-page .tattoo_policy .h3_body {
  margin: 16px 0;
}

.policy-page .tattoo_policy .tattoo_imgs {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.policy-page .tattoo_policy .tattoo_imgs img {
  width: 23%;
}

.policy-page .piercing_policy .h2_title {
  margin-bottom: 32px;
}

.policy-page .piercing_policy .h3_title {
  margin-top: 56px;
}

.policy-page .piercing_policy .h3_body {
  margin: 16px 0;
}

.policy-page .piercing_policy .tattoo_imgs {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.policy-page .piercing_policy .tattoo_imgs img {
  width: 23%;
}

@media screen and (max-width: 768px) {
  .policy-page .tattoo_policy {
    margin-bottom: 56px;
  }
  .policy-page .tattoo_policy .h2_title {
    margin-bottom: 8px;
  }
  .policy-page .tattoo_policy .h3_title {
    margin-top: 32px;
  }
  .policy-page .tattoo_policy .h3_body {
    margin: 8px 0;
  }
  .policy-page .tattoo_policy .tattoo_imgs {
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .policy-page .tattoo_policy .tattoo_imgs img {
    width: 70%;
    margin-right: 25px;
  }
  .policy-page .piercing_policy .h2_title {
    margin-bottom: 8px;
  }
  .policy-page .piercing_policy .h3_title {
    margin-top: 32px;
  }
  .policy-page .piercing_policy .h3_body {
    margin: 8px 0;
  }
  .policy-page .piercing_policy .tattoo_imgs {
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .policy-page .piercing_policy .tattoo_imgs img {
    width: 70%;
    margin-right: 25px;
  }
}

/************ waiver,aftercare page ***************/
.after-page .h3_body {
  margin-bottom: 32px;
}

.after-page .waivers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.after-page .waivers .waiver {
  width: 49%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.after-page .waivers .waiver img {
  width: 100%;
}

.after-page .waivers .waiver .h2_title {
  margin: 16px 0 32px;
}

.after-page .waivers .waiver .h2_body a {
  color: #ffffff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.after-page .waivers .waiver .h2_body a:hover {
  color: #F8C246;
}

.after-page .waivers .waiver .h2_body a i {
  margin-left: 10px;
}

.after-page .waivers .waiver .piercing_after {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.after-page .waivers .waiver .piercing_after .body_after {
  margin-bottom: 16px;
}

@media screen and (max-width: 768px) {
  .after-page .waivers {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .after-page .waivers .waiver {
    width: 100%;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 56px;
  }
  .after-page .waivers .waiver img {
    width: 100%;
  }
  .after-page .waivers .waiver .h2_title {
    margin: 16px 0;
  }
  .after-page .waivers .waiver .piercing_after {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .after-page .waivers .waiver .piercing_after .body_after {
    margin-bottom: 16px;
  }
}

/******************* booking page *************************/
.booking-page .contact_method {
  margin-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.booking-page .contact_method .methods {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #ffffff;
  padding: 46px 0;
  width: 32%;
  place-items: center;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  text-decoration: none;
  color: #ffffff;
}

.booking-page .contact_method .methods:hover {
  background-color: #ffffff;
  color: #0E0E0E;
  cursor: pointer;
}

.booking-page .contact_method .methods:hover .blue-color {
  color: blue;
  text-decoration: underline;
}

.booking-page .contact_method .methods i {
  font-size: 35px;
  margin-bottom: 24px;
}

.booking-page .contact_method .methods .h2_body {
  margin-bottom: 8px;
}

.booking-page .contact_artist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 32px;
}

.booking-page .contact_artist .artists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #ffffff;
  width: 32%;
}

.booking-page .contact_artist .artists img {
  width: 100%;
}

.booking-page .contact_artist .artists .artist_contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  place-items: center;
  padding: 55px 0;
}

.booking-page .contact_artist .artists .artist_contact:hover {
  background-color: #ffffff;
  color: #0E0E0E;
}

.booking-page .contact_artist .artists .artist_contact:hover a {
  color: #0E0E0E;
}

.booking-page .contact_artist .artists .artist_contact .name {
  margin-bottom: 16px;
}

.booking-page .contact_artist .artists .artist_contact .email {
  margin-bottom: 8px;
}

.booking-page .contact_artist .artists .artist_contact i {
  margin-right: 10px;
  font-size: 18px;
}

.booking-page .contact_artist .artists .artist_contact a {
  color: #ffffff;
  text-decoration: none;
}

.booking-page .contact_artist .artists .artist_contact a:hover {
  color: blue;
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .booking-page .contact_method {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .booking-page .contact_method .methods {
    padding: 22px 0;
    width: 100%;
    margin-bottom: 16px;
  }
  .booking-page .contact_method .methods i {
    font-size: 32px;
    margin-bottom: 16px;
  }
  .booking-page .contact_method .methods .h2_body {
    margin-bottom: 4px;
  }
  .booking-page .contact_artist {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 0;
  }
  .booking-page .contact_artist .artists {
    width: 100%;
    margin-bottom: 16px;
  }
  .booking-page .contact_artist .artists img {
    display: none;
  }
}

/****************** Contact page *****************/
.contact-page .contact_method {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact-page .contact_method .methods {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 3px solid #ffffff;
  padding: 46px 0;
  width: 32%;
  place-items: center;
  text-decoration: none;
  color: #ffffff;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.contact-page .contact_method .methods:hover {
  background-color: #ffffff;
  color: #0E0E0E;
}

.contact-page .contact_method .methods:hover .color_link {
  text-decoration: underline;
  color: blue;
}

.contact-page .contact_method .methods i {
  font-size: 35px;
  margin-bottom: 24px;
}

.contact-page .contact_method .methods .h2_body {
  margin-bottom: 8px;
}

.contact-page .method_2 {
  margin: 0;
}

.contact-page .info {
  padding: 34px 10.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 96px;
  color: #ffffff;
}

.contact-page .info iframe {
  width: 60%;
  height: 400px;
}

.contact-page .info .hours {
  width: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-page .info .hours .addr {
  margin-bottom: 32px;
}

.contact-page .info .hours .h2_body {
  margin-bottom: 16px;
}

.contact-page .info .hours .hour {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 8px;
}

.contact-page .info .hours .hour div {
  margin-right: 24px;
}

@media screen and (max-width: 1030px) {
  .contact-page .info iframe {
    width: 50%;
  }
  .contact-page .info .hours {
    width: 45%;
  }
  .contact-page .info .hours .h2_body {
    font-size: 20px;
  }
  .contact-page .info .hours .h3_body {
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  .contact-page .contact_method {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact-page .contact_method .methods {
    padding: 18px 0;
    width: 100%;
    margin-bottom: 16px;
  }
  .contact-page .contact_method .methods i {
    font-size: 32px;
    margin-bottom: 15px;
  }
  .contact-page .contact_method .methods .h2_body {
    margin-bottom: 4px;
  }
  .contact-page .info {
    padding: 30px 6.15%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 56px;
  }
  .contact-page .info iframe {
    width: 100%;
    height: 224px;
    margin-bottom: 16px;
  }
  .contact-page .info .hours {
    width: 100%;
  }
  .contact-page .info .hours .addr {
    margin-bottom: 16px;
  }
  .contact-page .info .hours .h2_body {
    margin-bottom: 4px;
    font-size: 18px;
  }
  .contact-page .info .hours .hour {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 0;
  }
  .contact-page .info .hours .hour div {
    margin-right: 24px;
  }
}

/************** Price page *********************/
.price-page .h2_title {
  margin-bottom: 32px;
}

.price-page .second_title {
  margin-top: 96px;
}

.price-page .h3_title {
  margin: 56px 0 16px;
}

.price-page .h3_body {
  margin-bottom: 16px;
}

.price-page .piercing_img {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  grid-auto-rows: minmax(100px, auto);
}

.price-page .piercing_img img {
  width: 100%;
}

.price-page .piercing_img .zone {
  border: 1px solid #ffffff;
  margin-top: 0px;
}

.price-page .piercing_img .zone .zone_price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  place-items: center;
  padding-bottom: 8px;
}

.price-page .piercing_img .zone .zone_price .blank {
  height: 30px;
  font-family: 'Oxygen', sans-serif;
  font-size: 14.5px;
  font-weight: 400;
}

.price-page table, .price-page tr, .price-page td {
  border: 1px solid #ffffff;
  border-collapse: collapse;
  text-align: center;
}

.price-page td {
  padding: 8px 24px;
}

.price-page .small_tb {
  display: none;
}

@media screen and (max-width: 1300px) {
  .price-page .piercing_img {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    gap: 16px;
  }
  .price-page .piercing_img .zone .h2_body {
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
    font-size: 16px;
  }
  .price-page .piercing_img .zone .zone_price .blank {
    font-size: 10px;
  }
}

@media screen and (max-width: 768px) {
  .price-page .h2_title {
    margin-bottom: 8px;
  }
  .price-page .second_title {
    margin-top: 56px;
  }
  .price-page .h3_title {
    margin: 32px 0 4px;
  }
  .price-page .piercing_img {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }
  .price-page .piercing_img .zone .zone_price .blank {
    font-size: 10px;
  }
  .price-page .big_tb {
    display: none;
  }
  .price-page .small_tb {
    display: block;
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
    font-size: 16px;
  }
  .price-page .small_tb table {
    width: 100%;
    margin-bottom: 16px;
  }
}

/******************** Artist page ************************/
.artist-page .h2_title {
  margin-bottom: 32px;
}

.artist-page .artists {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 24px;
          column-gap: 24px;
  background-color: rgba(255, 255, 255, 0.008);
}

.artist-page .artists .artist_img {
  position: relative;
  z-index: 3;
  overflow: hidden;
}

.artist-page .artists .artist_img:hover {
  cursor: pointer;
}

.artist-page .artists .artist_img:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.artist-page .artists .artist_img img {
  position: relative;
  z-index: 4;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.artist-page .artists .artist_img .artist_name {
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 60px;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(4, 4, 4, 0)), to(#393e41));
  background: linear-gradient(180deg, rgba(4, 4, 4, 0) 0%, #393e41 100%);
  color: #ffffff;
}

.artist-page .artists .artist_img span {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 500;
  font-size: 35px;
  padding-left: 24px;
}

.artist-page .second_title {
  margin-top: 96px;
}

@media screen and (max-width: 768px) {
  .artist-page .h2_title {
    margin-bottom: 16px;
  }
  .artist-page .artists {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    -webkit-column-gap: 0;
            column-gap: 0;
    row-gap: 16px;
  }
  .artist-page .artists .artist_img span {
    bottom: 29px;
    left: 32px;
    font-weight: 500;
    font-size: 35px;
  }
  .artist-page .second_title {
    margin-top: 56px;
  }
}

/******************** Artist detail page ************************/
.artistdetail-page .page_header_title {
  margin-bottom: 16px;
}

.artistdetail-page .h2_body {
  color: #ffffff;
}

.artistdetail-page .contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 56px;
}

.artistdetail-page .contents img {
  width: 49%;
}

.artistdetail-page .contents .details {
  width: 49%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.artistdetail-page .contents .details .sns_booking {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.artistdetail-page .contents .details i.fa-brands {
  color: #ffffff;
  text-decoration: none;
  font-size: 36px;
  margin-right: 45px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.artistdetail-page .contents .details i.fa-brands:hover {
  color: #F8C246;
}

.artistdetail-page .contents .details a.bookBtn {
  text-decoration: none;
  color: #0E0E0E;
  font-weight: 700;
}

.artistdetail-page .contents .details a.bookBtn:hover {
  color: #F8C246;
}

.artistdetail-page .works {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 18px;
}

.artistdetail-page .works img {
  width: 100%;
}
/*# sourceMappingURL=style.css.map */