* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  line-height: 30px;
}

/*
font-family: 'Barlow Condensed', sans-serif;
font-family: 'Oxygen', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
*/
.h2_title {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 600;
  font-size: 44px;
}

.h2_body {
  font-family: 'Oxygen', sans-serif;
  font-weight: 400;
  font-size: 22.5px;
}

.h3_title {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 500;
  font-size: 35px;
}

.h3_body {
  font-family: 'Oxygen', sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.bookBtn {
  background-color: black;
  color: white;
  padding: 12px 16px;
}

/*************** Header ******************/
.covid {
  background-color: black;
  text-align: center;
  color: white;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  place-items: center;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  text-decoration: underline;
}

.main_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  place-items: center;
  padding: 25px;
}

.main_menu .logo span {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 500;
  font-size: 35px;
}

.main_menu .menus a {
  text-decoration: none;
  color: black;
  margin-right: 44px;
}

.main_menu .menus a.bookBtn {
  color: white;
}

.main_header {
  background-color: darkgray;
  padding: 275px 160px;
}

.main_header .header_title {
  margin-bottom: 32px;
  font-size: 55px;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 700;
}

.main_header .header_body {
  margin-bottom: 159px;
}

.main_header a {
  text-decoration: none;
}

/*************** Main ******************/
main {
  padding: 96px 160px;
}

main .main_title {
  margin-bottom: 32px;
}

main .policies {
  margin-top: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .policies img {
  max-width: 584px;
  max-height: 376px;
  margin-right: 24px;
}

main .policies .policy_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .policies .policy_right .h3_title {
  margin-bottom: 16px;
}

main .policies .policy_right .read_policy {
  padding: 12px 16px;
  border: 1px solid black;
  text-decoration: none;
  color: black;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-top: 32px;
}

/*************** Footer ******************/
footer {
  background-color: darkgray;
  padding: 88px 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer_title {
  font-family: 'Oxygen', sans-serif;
  font-weight: 700;
  font-size: 22.5px;
  border-bottom: 1px solid black;
}
/*# sourceMappingURL=style.css.map */