* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    line-height: 30px;
  }
/*
font-family: 'Barlow Condensed', sans-serif;
font-family: 'Oxygen', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
*/

.h2_title{
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 600;
    font-size: 44px;
}
.h2_body{
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
    font-size: 22.5px;
}
.h3_title{
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 500;
    font-size: 35px;
}
.h3_body{
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
    font-size: 18px;
}
.bookBtn{
    background-color: black;
    color: white;
    padding: 12px 16px;
}
// mobile size
@media screen and (max-width: 768px){
    .h2_title{
        font-family: 'Barlow Condensed', sans-serif;
        font-weight: 600;
        font-size: 24px;
    }
    .h2_body{
        font-family: 'Oxygen', sans-serif;
        font-weight: 400;
        font-size: 16px;
    }
    .h3_title{
        font-family: 'Barlow Condensed', sans-serif;
        font-weight: 700;
        font-size: 20px;
    }
    .h3_body{
        font-family: 'Oxygen', sans-serif;
        font-weight: 400;
        font-size: 16px;
    }
}


/*************** Header ******************/
.covid{
    background-color: black;
    text-align: center;
    color: white;
    height: 70px;
    display: flex;
    justify-content: center;
    place-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-decoration: underline;
    a{
        color: white;
    }
}
// mobile size - covid policy
@media screen and (max-width: 768px){
    .covid{
        height: 39px;
    }
}
.main_menu{
    display: flex;
    justify-content: space-around;
    place-items: center;
    padding: 25px;
    background-color: white;
    border-bottom: 1px solid lightgray;
    width: 100%;
    overflow-x: hidden; 
    .logo{
        span{
            font-family: 'Barlow Condensed', sans-serif;
            font-weight: 500;
            font-size: 35px;
        }
    }
    .menus{
        a{
            text-decoration: none;
            color: black;
            margin-right: 44px;
        }
        a.bookBtn{
            color: white;
            margin: 0;
        }
    }
    #toggleBtn{
        display: none;
        i{
            font-size: 30px;
            &:hover{
                cursor: pointer;
            }
        }
    }
}
// mobile size - main menu
@media screen and (max-width: 768px){
    .main_menu{
        padding: 17px;
    }
}

// scroll class index
.nav-scroll{
    position: fixed;
    transform: translateY(-70.5px);
}
@media screen and (max-width: 768px){
    .nav-scroll{
        position: fixed;
        transform: translateY(-39.5px);
    }
}

// scroll class (not index)
.nav-sticky{
    position: fixed;
    z-index: 0;
}

.main_header{
    background-color: #C4C4C4;
    padding: 275px 10.5%;
    .header_title{
        margin-bottom: 32px;
        font-size: 55px;
        font-family: 'Barlow Condensed', sans-serif;
        font-weight: 700;
    }
    .header_body{
        margin-bottom: 159px;
    }
    a{
        text-decoration: none;
    }
}

// menu font size
@media screen and (max-width: 1300px){
    .main_menu{
        justify-content: space-between;
        .menus {
            a{
            font-size: 18px;
            }
        }
    }
}

// menu toggle btn
@media screen and (max-width: 1030px){
    .menus{
        display: none;
    }
    .main_menu{
        #toggleBtn{
            display: block;
        }
    }
}

// mobile size
@media screen and (max-width: 768px){
    .main_header{
        padding: 125px 10.5%;
        .header_title{
            font-size: 32px;
            font-weight: 600;
        }
        .header_body{
            display: none;
        }
        .bookBtn{
            font-size: 18px;
        }
    }
}

/********************* Toggle menu ************************/
.overlay { 
    height: 0;
    width: 100%;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    background-color: #C4C4C4; 
    overflow-x: hidden; 
    transition: 0.3s; 
  }
  
  /* Position the content inside the overlay */
  .overlay-content {
    position: relative;
    top: 10%;
    width: 100%; 
    text-align: center; 
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    .bookBtn{
        color: white;
        padding: 8px 16px;
        margin-top: 8px;
        &:hover{
            background-color: #484848;
        }
    }
  }
  
  /* The navigation links inside the overlay */
  .overlay a {
    padding: 16px;
    text-decoration: none;
    color: black;
    display: inline;
    transition: 0.3s; 
    font-family: 'Oxygen', sans-serif;
    font-size: 16px;
    font-weight: 400;
  }
  
  /* When you mouse over the navigation links, change their color */
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  /* Position the close button (top right corner) */
  .overlay .closebtn {
    position: absolute;
    top: 25px;
    right: 25px;
    font-size: 44px;
  }
  
  /* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }


/*************** Main ******************/
main{
    padding: 96px 10.5%;
    .main_title{
        margin-bottom: 32px;
    }
    .policies{
        margin-top: 56px;
        display: flex;
        justify-content: space-between;
        img{
            width: 48%;
        }
        .policy_right{
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .h3_title{
                margin-bottom: 16px;
            }
            .read_policy{
                padding: 12px 16px;
                border: 1px solid black;
                text-decoration: none;
                color: black;
                align-self: flex-start;
                margin-top: 32px;
            }
        }
    } 
}

// mobile size
@media screen and (max-width: 768px){
    main{
        padding: 56px 6.15%;
        .main_title{
            margin-bottom: 8px;
        }
        .policies{
            margin-top: 32px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            img{
                width: 100%;
            }
            .policy_right{
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 0 3% ;
                .h3_title{
                    margin: 8px 0;
                }
                .read_policy{
                    padding: 8px 16px;
                    border: 1px solid black;
                    text-decoration: none;
                    color: black;
                    align-self: flex-start;
                    margin-top: 24px;
                    margin-bottom: 10px;
                }
            }
        } 
    }
}

/*************** Footer ******************/
footer{
    background-color: #C4C4C4;
    padding: 88px 10.5%;
    display: flex;
    justify-content: space-between;
    .footer_title{
        font-family: 'Oxygen', sans-serif;
        font-weight: 700;
        font-size: 22.5px;
    }
    .line{
        border-bottom: 1px solid black;
        margin: 8px 0;
    }
    .links{
        width: 30%;
        .link_menu{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            a{
                text-decoration: none;
                color: black;
            }
        }
    }
    .contacts{
        width: 68%;
        .infos{
            display: flex;
            justify-content: space-between;
            .sns{
                margin-top: 18px;
                i{
                    font-size: 24px;
                    margin-right: 22px;
                }
            }
            iframe{
                margin: 0 10px;
            }
            .hours{
                margin-top: 16px;
                span{
                    margin-right: 16px;
                }
            }
        }  
    }
}
//medium size
@media screen and (max-width: 1300px){
    footer{
        padding: 23px 6.15%;
        display: flex;
        flex-direction: column;
        .footer_title{
            font-weight: 700;
            font-size: 18px;
        }
        .line{
            margin: 8px 0;
        }
        .links{
            width: 100%;
            .link_menu{
                a{
                    margin-bottom: 8px;
                }
            }
        }
        .contacts{
            width: 100%;
            margin-top: 24px;
            .infos{
                display: flex;
                flex-direction: column;
                .phone_num{
                    margin-bottom: 8px;
                }
                .sns{
                    margin: 18px 0 28px 10px;
                }
                .hours{
                    margin-top: 8px;
                    span{
                        margin-right: 26px;
                    }
                }
                iframe{
                    width: 90%;
                    margin: 0px 0px 8px 0px;
                }
            }  
        }
    }
}

/************** Pages header *****************/
.page_main_header{
    background-color: #C4C4C4;
    padding: 105px 10.5%;
    .page_header_title{
        font-size: 55px;
        font-family: 'Barlow Condensed', sans-serif;
        font-weight: 700;
    }
}
// mobile size
@media screen and (max-width: 768px){
    .page_main_header{
        padding: 35px 6.15%;
        .page_header_title{
            font-size: 32px;
            font-family: 'Barlow Condensed', sans-serif;
            font-weight: 600;
        }
    }
}


/************* covid page ************/
.covid-page{
    .updated{
        margin-bottom: 96px;
        .date{
            margin-bottom: 8px;
        }
    }

    .covid_policies{
        margin-bottom: 96px;
        .h2_title{
            margin-bottom: 32px;
        }
        .h3_body{
            padding-left: 24px;
            li{
                margin-bottom: 8px;
            }
        }
    }
}
// mobile size
@media screen and (max-width: 768px){
    .covid-page{
        .updated{
            margin-bottom: 56px;
            .date{
                margin-bottom: 0;
            }
        }
    
        .covid_policies{
            margin-bottom: 56px;
            .h2_title{
                margin-bottom: 8px;
            }
            .h3_body{
                li{
                    margin-bottom: 0;
                }
            }
        }
    }
}

/************* policy page ************/
.policy-page{
    .tattoo_policy{
        margin-bottom: 96px;
        .h2_title{
            margin-bottom: 32px;
        }
        .h3_title{
            margin-top: 56px;
        }
        .h3_body{
            margin: 16px 0;
        }
        .tattoo_imgs{
            width: 100%;
            display: flex;
            justify-content: space-between;
            img{
                width: 23%;
            }
        }
    }
    
    .piercing_policy{
        .h2_title{
            margin-bottom: 32px;
        }
        .h3_title{
            margin-top: 56px;
        }
        .h3_body{
            margin: 16px 0;
        }
        .tattoo_imgs{
            width: 100%;
            display: flex;
            justify-content: space-between;
            img{
                width: 23%;
            }
        }
    }
}

// mobile size
@media screen and (max-width: 768px){
    .policy-page{
        .tattoo_policy{
            margin-bottom: 56px;
            .h2_title{
                margin-bottom: 8px;
            }
            .h3_title{
                margin-top: 32px;
            }
            .h3_body{
                margin: 8px 0;
            }
            .tattoo_imgs{
                overflow-x: scroll;
                overflow-y: hidden;
                width: 100%;
                display: flex;
                justify-content: space-between;
                img{
                    width: 40%;
                }
            }
        }
        
        .piercing_policy{
            .h2_title{
                margin-bottom: 8px;
            }
            .h3_title{
                margin-top: 32px;
            }
            .h3_body{
                margin: 8px 0;
            }
        }
    }
}

/************ waiver,aftercare page ***************/
.after-page{
    .waivers{
        display: flex;
        justify-content: space-between;
        margin-top: 32px;
        .waiver{
            width: 49%;
            text-align: center;
            display: flex;
            flex-direction: column;
            img{
                width: 100%;
            }
            .h2_title{
                margin: 16px 0 32px;
            }
            .h2_body{
                a{
                    color: black;
                    i{
                        margin-left: 10px;
                    }
                }
            }
            .piercing_after{
                display: flex;
                flex-direction: column;
                .body_after{
                    margin-bottom: 16px;
                }
            }
        }
    }
}

/******************* booking page *************************/
.booking-page{

    .contact_method{
        margin-top: 32px;
        display: flex;
        justify-content: space-between;

        .methods{
            display: flex;
            flex-direction: column;
            border: 1px solid black;
            padding: 46px 0;
            width: 32%;
            place-items: center;
            i{
                font-size: 35px;
                margin-bottom: 24px;
            }
            .h2_body{
                margin-bottom: 8px;
            }
        }
    }
    .contact_artist{
        display: flex;
        justify-content: space-between;
        margin-top: 32px;
        .artists{
            display: flex;
            flex-direction: column;
            border: 1px solid black;
            width: 32%;
            img{
                width: 100%;
            }
            .artist_contact{
                display: flex;
                flex-direction: column;
                justify-content: center;
                place-items: center;
                padding: 55px 0;
                .name{
                    margin-bottom: 16px;
                }
                .email{
                    margin-bottom: 8px;
                }
                i{
                    margin-right: 10px;
                    font-size: 18px;
                }
            }
        }
    }
}


/****************** Contact page *****************/
.contact-page{
    .contact_method{
        margin-top: 32px;
        display: flex;
        justify-content: space-between;

        .methods{
            display: flex;
            flex-direction: column;
            border: 1px solid black;
            padding: 46px 0;
            width: 32%;
            place-items: center;
            i{
                font-size: 35px;
                margin-bottom: 24px;
            }
            .h2_body{
                margin-bottom: 8px;
            }
        }
    }
    .method_2{
        margin: 0;
    }
    .info{
        background-color: #C4C4C4;
        padding: 34px 10.5%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 96px;
        iframe{
            width: 60%;
            height: 400px;
        }
        .hours{
            width: 35%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .addr{
                margin-bottom: 32px;
            }
            .h2_body{
                margin-bottom: 16px;
            }
            .hour{
                display: flex;
                margin-bottom: 8px;
                div{
                    margin-right: 24px;
                }
            }
        }
    }
}

/************** Price page *********************/
.price-page{
    .h2_title{
        margin-bottom: 32px;
    }
    .second_title{
        margin-top: 96px;
    }
    .h3_title{
        margin: 56px 0 16px;
    }
    .h3_body{
        margin-bottom: 16px;
    }
    .piercing_img{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 24px;
        grid-auto-rows: minmax(100px, auto);
        img{
            width: 100%;
        }
        .zone{
            border: 1px solid black;
            margin-top: 0px;
            .zone_price{
                display: flex;
                flex-direction: column;
                justify-content: center;
                place-items: center;
                padding-bottom: 8px;
                .blank{
                    height: 30px;
                    font-family: 'Oxygen', sans-serif;
                    font-size: 14.5px;
                    font-weight: 400;
                }
            }
        }
    }
    table,tr,td{
        border: 1px solid black;
        border-collapse: collapse;
        text-align: center;
    }
    td{
        padding: 8px 24px;
    }
    .colortd{
        background-color: #E5E5E5;
    }
}



/******************** Artist page ************************/
.artist-page{
    .h2_title{
        margin-bottom: 16px;
    }
    .artists{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        column-gap: 0;
        row-gap: 16px;
        .artist_img{
            position: relative;
            z-index: -1;
            img{
                width: 100%;
            }
            span{
                position: absolute;
                bottom:29px;
                left: 32px;
                font-family: 'Barlow Condensed', sans-serif;
                font-weight: 500;
                font-size: 35px;
            }
        }
    }
    .second_title{
        margin-top: 56px;
    }
}



